@font-face
  font-style: normal
  font-family: "Meslo LG"
  src: local("Meslo LG S"), url("../lib/meslo-LG/MesloLGS-Regular.ttf") format("truetype")

@font-face
  font-style: normal
  font-family: "Monaco"
  src: url("../lib/monaco/monaco.ttf")

@font-face
  font-style: normal
  font-family: "Hack"
  src: url("../lib/hack/hack-Regular.ttf")
