@font-face
  font-style: normal
  font-family: "Meslo LG"
  src: local("Meslo LG S"), url("../lib/meslo-LG/MesloLGS-Regular.ttf") format("truetype")

@font-face
  font-family: Monaco
  src: url("../lib/Monaco/monaco.ttf") format("truetype")

@font-face
  font-family: Hack
  src: url("../lib/Hack/Hack-Regular.ttf") format("truetype")
